*,
*:before,
*::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  background-color: rgb(20, 20, 20);
  color: white;
}
h1 {
  text-align: center;
  font-size: 2rem;
}
.carrousel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.carrousel-header {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}

.carrousel-header p,
.pagination {
  padding: 1rem 0rem;
}
.pagination {
  border-top: 1px solid #fff3;
  border-bottom: 1px solid #fff3;
  display: flex;
  align-items: center;
  gap: 20px;
}
.carrousel-header button {
  border: none;
  cursor: pointer;
  height: 20px;
  width: 20px;
  opacity: 0.5;
  transition: opacity 0.4s;
}

.previous {
  background: url("/arrowleft.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.next {
  background: url("/arrowright.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.previous:hover,
.next:hover {
  opacity: 1;
}

#root {
  width: 65%;
  display: flex;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
  perspective: 500px;
}
.article {
  width: 30%;
  transition: all 500ms;
}
.rotate,
.rotate_mob {
  transform: rotateX(0deg) rotateY(180deg);
  transform-style: preserve-3d;
  opacity: 0.1;
}
.rotate-inv,
.rotate-inv_mob {
  transform: rotateX(0deg) rotateY(-180deg);
  transform-style: preserve-3d;
  opacity: 0.1;
}
.rotate img,
.rotate-inv img,
.rotate_mob img,
.rotate-inv_mob img {
  opacity: 0.1;
}

.carrousel figure {
  width: 100%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carrousel figure img {
  width: 20dvw;
  height: 20dvw;
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
  border: solid 2px rgba(255, 255, 255, 0.9);
  border-radius: 2px;
  transition: all 3s;
}
.carrousel figcaption * {
  text-align: center;
  padding: 1rem 0 0 0;
}

.carrousel a {
  color: white;
  display: flex;
}

@media screen and (max-width: 800px) {
  #root {
    width: 100%;
    flex-direction: column;
    margin-bottom: 10rem;
  }
  .article {
    width: 100%;

    padding-top: 0rem;
  }
  .carrousel figure {
    width: 80dvw;
    margin: auto;
  }
  .carrousel figure img {
    width: 60dvw;
    height: 60dvw;
  }
  .carrousel {
    position: relative;
  }
  .pagination {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
  }
}
